body{
    background-color: lightgray;
    margin: 0%;
    padding: 0%;
}
.zad1{
    background-color: yellow;
    width: 400px;
    height: 200px;
   padding-left: 45px;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 25px;
}
.zad11{
    background-color: red;
    width: 80%;
    height: 80%;
}
.zad2{
    background-color: rgb(57, 136, 160);
    width: 400px;
    height: 200px;
   padding:40px 20px 10px 30px;
}
.zad22{
    background-color: rgb(78, 158, 32);
    width: 80%;
    height: 80%;
}
button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 40px;
}
